{
  "where":
  [
    {
      "name": "cw_aws",
      "type": "CloudWatch",
      "vars": {
        "AwsRegion": "eu-west-1",
        "window": "15m",
        "aws_access_key_id": "",
        "aws_secret_access_key": ""
      }
    },
    {
      "name": "cw_aws_x",
      "type": "CloudWatch",
      "vars": {
        "AwsRegion": "us-east-1",
        "window": "15m",
        "aws_access_key_id": "",
        "aws_secret_access_key": ""
      }
    },
    {
      "name": "cw_aws_mfa",
      "type": "CloudWatch",
      "vars": {
        "AwsRegion": "us-east-1",
        "window": "15m",
        "aws_access_key_id": "",
        "aws_secret_access_key": "",
        "aws_session_token": ""
      }
    },
    {
      "name": "prometheus",
      "type": "Prometheus",
      "vars": {
        "prom_address": "",
        "window": "300s"
      }
    }
  ],
  "chart":
  [
    {
      "name": "line",
      "type": "line",
      "vars": {
          "backgroundColor": "rgb(99, 99, 132)",
          "borderColor": "rgb(99, 99, 132)",
          "stacked": false,
          "style": "max-width: 600px",
          "aspectRatio": "3.5"
      }
    },
    {
      "name": "linestack",
      "type": "line",
      "vars": {
          "backgroundColor": "rgb(99, 99, 132)",
          "borderColor": "rgb(99, 99, 132)",
          "stacked": true,
          "style": "max-width: 600px",
          "aspectRatio": "3"
      }
    },
    {
      "name": "barstack",
      "type": "bar",
      "vars": {
          "backgroundColor": "rgb(255, 99, 132)",
          "borderColor": "rgb(255, 99, 132)",
          "stacked": true,
          "style": "max-width: 600px",
          "aspectRatio": "1.5"
      }
    },
    {
      "name": "bar",
      "type": "bar",
      "vars": {
          "backgroundColor": "rgb(255, 99, 132)",
          "borderColor": "rgb(255, 99, 132)",
          "stacked": false,
          "style": "max-width: 600px",
          "aspectRatio": "3"
      }
    },
    {
      "name": "barsum",
      "type": "bar",
      "vars": {
          "backgroundColor": "rgb(255, 99, 132)",
          "borderColor": "rgb(255, 99, 132)",
          "stacked": true,
          "style": "max-width: 600px",
          "aspectRatio": "2.5"
      }
    },
    {
      "name": "barcombo",
      "type": "bar",
      "vars": {
          "backgroundColor": "rgb(255, 99, 132)",
          "borderColor": "rgb(255, 99, 132)",
          "stacked": true,
          "combo":true,
          "style": "max-width: 600px",
          "aspectRatio": "2.5"
      }
    },
    {
      "name": "piestack",
      "type": "pie",
      "vars": {
          "backgroundColor": "rgb(99, 99, 132)",
          "borderColor": "rgb(99, 99, 132)",
          "stacked": true,
          "style": "max-width: 400px",
          "aspectRatio": "1"
      }
    },
    {
      "name": "pie",
      "type": "pie",
      "vars": {
          "backgroundColor": "rgb(99, 99, 132)",
          "borderColor": "rgb(99, 99, 132)",
          "stacked": false,
          "style": "max-width: 200px",
          "aspectRatio": "1"
      }
    },
    {
      "name": "tftable",
      "type": "asserttable",
      "vars": {
          "row_dimension": "MetricName",
          "true_label": "pass",
          "false_label" : "fail",
          "mark": "&#9679;"
      }
    }
  ],
  "style":[
    {
      "name": "darkmode",
      "type": "CSS",
      "vars": {
        "url": "https://www.autoptic.io/assets/css/darkmode.css"
      }
    },
    {
      "name": "bootstrap",
      "type": "CSS",
      "vars": {
        "url": "https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      }
    }
  ]
}
